*  {
  background-image: url("school.png");
  font-family: "Comic Sans MS";
  color: dodgerblue;
  font-size: large;
}

.panel-title {

  font-family: "Comic Sans MS";
  color: dodgerblue;

}

.completed,
.success {

  float: right;
}
